/.emacs.desktop
/.recentfiles
/.session
/ac-comphist.dat
/backups
/elpa
/auto-save-list/.saves-4928-GANDALF~
/projectile.cache
/server/server
*.elc
/auto-save-list/.saves-2836-GANDALF~
/.smex-items
/auto-save-list/.saves-776-GANDALF~
/server/server776
